/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}

td.td-val {
    max-width: 20%;
    font-family: verdana, sans-serif;
    font-style: oblique;
    text-align: right;
    font-size: 26px;
    color: green;
}

td.td-val-lim {
    max-width: 20%;
    font-family: verdana, sans-serif;
    font-style: oblique;
    text-align: right;
    font-size: 26px;
    color: yellow;
}

td.td-val-off {
    max-width: 20%;
    font-family: verdana, sans-serif;
    font-style: oblique;
    text-align: right;
    font-size: 26px;
    color: red;
}

td.td-cel {
    padding-left: 8px;
    font-family: verdana, sans-serif;
    font-size: 14px;
    width: 80%;
}

tr.tr-none {
    display: none;
}

th.th-sensor {
    padding-left: 10px;
    font-family: verdana, sans-serif;
    font-size: 10px;    
    text-align: left;
}



/*****************************************************/
/*  teste Table */
/*****************************************************/
  .bold-green-font {
    font-weight: bold;
    color: green;
  }

  .bold-font {
    font-weight: bold;
  }

  .right-text {
    text-align: right;
  }

  .large-font {
    font-size: 15px;
  }

  .italic-darkblue-font {
    font-style: italic;
    color: darkblue;
  }

  .italic-purple-font {
    font-style: italic;
    color: purple;
  }

  .underline-blue-font {
    text-decoration: underline;
    color: blue;
  }

  .blue-font {
    color: blue;
  }

  .gold-border {
    border: 3px solid gold;
  }

  .deeppink-border {
    border: 3px solid deeppink;
  }

  .orange-background {
    background-color: orange;
  }

  .orchid-background {
    background-color: orchid;
  }

  .beige-background {
    background-color: beige;
  }

.white-background {
    background-color: white;
  }


.eventos_card_header_text {
    font-size: normal;
}

.eventos_card_text {
    font-size: large;
}

.text-restricao {
    font-size: small;
    text-align: center;
}

.text-login-r {
  position: fixed;
  font-size: small;
  color: LawnGreen;
  top: 10px;
  left: 10px;
  width: 20px;
}
.seco_nome_text {
    font-size: 1.1em;
    color: lightskyblue;
    margin-top: 5px; 
    padding-top: 3px;
    padding-bottom: 3px;
}

.seco_input_text {
    width: 100%;
    border: 0;
    margin-top: 2px; 
    margin-bottom: 2px; 
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.seco_in_text {
    border: 0;
    margin-top: 2px; 
    margin-bottom: 2px; 
    padding-top: 3px;
    padding-bottom: 3px;
}
.titulo-a {
    color: #0080ff;
    font-size: 1.6em;
    font-weight: bold;
}

